<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lesson3/src/com/omalovanyi/jc/lesson3/car/TestTax.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.omalovanyi.jc.lesson3.car.TestTax"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lesson3"/>
</launchConfiguration>
